<div class="main_page_block" >
  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <h2 class="main_page_welcome">Добро пожаловать в систему электронных платежей!</h2>
  <%= image_tag "wallet.png", class: "main_page_img" %>
</div>