<div class="container">
  <div id="client_messages"></div>
  <div id="main-content">
    <div class="col-md-5">
      <div class="row registration_form_image_area" id="registration_form_image_area">
        <%= image_tag "wallet.png" %>
      </div>
    </div>
    <div class="col-md-6 move" >
      <div>
        <input type="radio" name="regtype" value="fiz" id="fizik">Физическое лицо<br>
        <div class="table-bordered home_page_description" id="description_area">Описание про физ лицо</div>
        <input type="radio" name="regtype" value="jur" id="jurik">Юридическое лицо<br>
        <div class="table-bordered home_page_description" id="description_area">Описание про юр лицо</div>
        <div class="actions">
          <%= button_to "Продолжить", show_registration_form_path, id: "show", class: "registration_form_btn", method: 'get', remote: true %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-2" id="otp_form">
    <div id="otp_confirmation"></div>
  </div>
</div>

 <script type="text/javascript">

  $(document).on('click','#show',function () {
    var selected_regtype = $('input[name="regtype"]:checked').val();
    if (selected_regtype == 'fiz' || selected_regtype == 'jur') {
      $.ajax({
        type: 'get',
        url: "sign_up/client",
        data: {client_type: selected_regtype},
        response: 'text',
        success: function() {

        },
        error: function () {
          alert('Ошибка получения формы регистрации');
        },
      });
    }
  });

  var pin_verified = false;
  var form_validated = true;

  // $(document).on('click', '#vadidate_reg_form_btn', function(event) {
  //   console.log('form_validated', form_validated);
  //   console.log('pin_verified', pin_verified);
    
    // $('#new_client').bootstrapValidator({

    //   container: '#messages',
    //   feedbackIcons: {
    //       valid: 'glyphicon glyphicon-ok',
    //       invalid: 'glyphicon glyphicon-remove',
    //       validating: 'glyphicon glyphicon-refresh'
    //   },
    //   fields: {
    //       "client[client][mobile]": {
    //           validators: {
    //               notEmpty: {
    //                   message: 'The full name is required and cannot be empty'
    //               }
    //           }
    //       },
    //       "client[client][country]": {
    //           validators: {
    //               notEmpty: {
    //                   message: 'The full name is required and cannot be empty'
    //               }
    //           }
    //       }
    //   },
    // }).on('success.form.bv', function(event) {
    //   form_validated = true;
    //   console.log('success.form.bv')
    //   // if (!pin_verified) {
    //   //   return false;
    //   // }
    // });


$(document).on('submit', '#new_client', function(event){

   // return false;
  // console.log('Im in submit');
  // event.preventDefault();
  // if (!form_validated) {
  //   console.log('in form validated block');
  //   return false;
  // }

  // if (!pin_verified) {
  //   console.log('in pin block');
  //   pin_verified = true;
  //   return true;
  // }

  if (!pin_verified) {
    console.log('pin not verified... openning otp');
    console.log('form_validated', form_validated );
    
    var mob = $("#client_client_mobile").val();
    $('#registration_form').hide();
    $('#otp_form').show();
    $.ajax({
      type: 'get',
      url: "/otp_test",
      data: {mobile: mob},
      response: 'text',
      success: function(){
        testTimer (10);
      },
      error: function () {
        alert('Ошибка отправки');
      }
    });

    return false;
  }
  return true;
  console.log('im in the end');
});

</script>