<div class="container">
  <div id="hiding">
    <div class="col-md-5">
      <div class="row registration_form_image_area" id="registration_form_image_area">
        <%= image_tag "wallet.png" %>
      </div>
    </div>
    <div class="col-md-6 move" >
      <div>
        <input type="radio" name="regtype" value="fiz" id="fizik">Физическое лицо<Br>
        <div class="table-bordered" id="description_area">Описание про физ лицо</div>
        <input type="radio" name="regtype" value="jur" id="jurik">Юридическое лицо<Br>
        <div class="table-bordered" id="description_area">Описание про юр лицо</div>
        <div class="actions">
          <button name="continue" value="continue" id="show" class="registration_form_btn">Продолжить</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="msform">
  <!--<div id="Individual_registration_block">-->
    <!--<%#= render 'individual_form' %>-->
  <!--</div>-->
  <!--<div id="Corporate_registration_block">-->
    <!--<%#= render 'corporate_form' %>-->
  <!--</div>-->

</div>

  <div class="modal fade" tabindex="-1" role="dialog" id="otp_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <div id="otp_confirmation"> </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


 <script type="text/javascript">
//    $("#otp").click(function() {
//      var mob = document.getElementById("client_client_mobile").value;
//      $('#otp_modal').modal('show');
//      $.ajax({
//        type: 'get',
//        url: "/otp_test",
//        data: {mobile: mob},
//        response: 'text',
//        success: function(){
//
//             },
//        error: function () {
//          alert('Ошибка отправки');
//        }
//      });
//    });


    var radios = document.getElementsByName("regtype");
    // var show = document.getElementsById("show");
//    var cardpayment = document.getElementById("Individual_registration_block");
//    var internetpayment = document.getElementById("Corporate_registration_block");
    var show = document.getElementById("show");
    var hiding = document.getElementById("hiding");

    for (var i = 0; i < radios.length; i++) {
      $(document).on('click','#show',function () {
        var val = getRadioVal( 'regtype');
        if (val == 'fiz') {  // Assuming your value for radio buttons is radio1, radio2 and radio3.
          // cardpayment.style.display = 'block';   // show
          hiding.style.display = 'none';// hide

          $('#msform').html('<%=j render :partial => "individual_form" %>')
          $("#otp").click(function() {
            var mob = document.getElementById("client_client_mobile").value;
            $('#otp_modal').modal('show');
            $.ajax({
              type: 'get',
              url: "/otp_test",
              data: {mobile: mob},
              response: 'text',
              success: function(){
                var reg = document.getElementById("registr");
                reg.style.display = 'block';
              },
              error: function () {
                alert('Ошибка отправки');
              }
            });
          });
          // internetpayment.remove();
          // internetpayment.style.display = 'none';// hide
        }
        else if (val == 'jur') {
          hiding.style.display = 'none';
          $('#msform').html('<%=j render :partial => "corporate_form" %>')
          // // cardpayment.style.display = 'none';
          // cardpayment.remove();
          // internetpayment.style.display = 'block';
          $("#otp").click(function() {
            var mob = document.getElementById("client_client_mobile").value;
            $('#otp_modal').modal('show');
            $.ajax({
              type: 'get',
              url: "/otp_test",
              data: {mobile: mob},
              response: 'text',
              success: function(){
                var reg = document.getElementById("registr");
                reg.style.display = 'block';
              },
              error: function () {
                alert('Ошибка отправки');
              }
            });
          });
        }

      })
    }
    function getRadioVal(name) {
      var val;
      for (var i=0, len=radios.length; i<len; i++) {
        if ( radios[i].checked ) {
          val = radios[i].value;
          break;
        }
      }
      return val;
    }





</script>