<div class="container">
  <div id="hiding">
    <div class="col-md-5">
      <div class="row registration_form_image_area" id="registration_form_image_area">
        <%= image_tag "wallet.png" %>
      </div>
    </div>
    <div class="col-md-6 move" >
      <div>
        <input type="radio" name="regtype" value="fiz" id="fizik">Физическое лицо<Br>
        <div class="table-bordered" id="description_area">Описание про физ лицо</div>
        <input type="radio" name="regtype" value="jur" id="jurik">Юридическое лицо<Br>
        <div class="table-bordered" id="description_area">Описание про юр лицо</div>
        <div class="actions">
          <button name="continue" value="continue" id="show" class="registration_form_btn">Продолжить</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="msform">
  <div id="Individual_registration_block">
    <%= render 'individual_form' %>
  </div>
  <div id="Corporate_registration_block">
    <%= render 'corporate_form' %>
  </div>
</div>
