<div class="row">
	<div class="col-md-3">
		<%= render 'individuals/sidebar/sidebar' %>		
	</div>
	<div class="col-md-9">
		<%= render 'individuals/payment/main' %>
		<%= render 'individuals/payment/services' %>
	</div>
</div>

