<div class="row">
	<div class="col-md-3">
		<%= render 'individuals/sidebar/sidebar' %>		
	</div>
	<div class="col-md-9">
		<%= render 'individuals/payment/main' %>
		<%= render 'individuals/payment/services' %>
	</div>
</div>
<div class="row">

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-body">
	        <!-- form start -->
						<%= render 'individuals/payment/payment_form' %>
					<!-- form end -->
	      </div>
	    </div>
	  </div>
	</div>
</div>
