<h4>Личный кабинет юр.лица</h4>

<div>Номер счета: 123456</div>
<div>Баланс: 25 000</div>
<div>
  <%= link_to "Покупка электронных денег", root_path, class: 'individual btn btn-primary navbar-btn' %><br>
  <%= link_to "Продажа электронных денег", root_path, class: 'individual btn btn-primary navbar-btn' %> <br>
  <%= link_to "Мои платежные системы", root_path, class: 'individual btn btn-primary navbar-btn' %> <br>
  <%= link_to "История платежей", root_path, class: 'individual btn btn-primary navbar-btn' %> <br>
</div>