<div class="col-sm-6 datetimepicker">
  <form class="form-inline">
		<div class="form-group">
			<div class='input-group date' id='datetimepicker8'>
				<input type='text' class="form-control" />
				<span class="input-group-addon">
					<span class="fa fa-calendar glyphicon glyphicon-calendar">
					</span>
				</span>
			</div>
		</div>
  </form>
</div>
<table class="table table-stripped reports">
  <tr>
		<th>Описание</th>
		<th>Сумма</th>
		<th>Дата/Время</th>
		<th>Переведено на:</th>
		<th>Статус</th>
		<th>Источник</th>
  </tr>
  <tr>
		<td>Реквизит №</td>
		<td>97,00 сом</td>
		<td>07.02.2017</td>
		<td>Мой газ</td>
		<td>Обработан</td>
		<td>Тенгри Банк</td>
  </tr>
</table>