<div class="row">
	<div class="col-md-4">
		<%= link_to (image_tag 'megacom.png', class: 'service-url-img' ), individual_payment_path %>
	</div>
	<div class="col-md-4">
		<%= link_to (image_tag 'beeline.png', class: 'service-url-img' ), individual_payment_path %>
	</div>
	<div class="col-md-4">
		<%= link_to (image_tag 'nurtelecom1.png', class: 'service-url-img' ), individual_payment_path %>
	</div>
</div>