// Place all the styles related to the individuals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.individual {
  width: 250px;
}

.my-payment-img	{
	width: 50px;
	height: auto;
	text-align: left;
	margin-right: 30px;
}

.submit-button {
	text-align: center;
	margin: 15px auto;
}

.payment-blocks {
	background: #e6e6ff;
	height: 200px;
}

.row .payment {
	min-height: 300px;
}

.thumbnail h4 {
	text-align: center;
}

.services {
	float: left;
}

.services-count {
	display: block;
	text-align: right;
}

.service-url-img {
	height: 60px;
}