body .balance {
  padding: 0 100px;
  color: #ffffff;
}

.individual {
  width: 250px;
}

.my-payment-img {
  width: 50px;
  height: auto;
  text-align: left;
  margin-right: 30px;
}

.submit-button {
  text-align: center;
  margin: 15px auto;
}

.payment-blocks {
  background: #e6e6ff;
  height: 200px;
}

.modal-content {
    height: 400px;
}

.row .payment {
  min-height: 300px;
}

.thumbnail h4 {
  text-align: center;
}

.services {
  float: left;
}

.services-count {
  display: block;
  text-align: right;
}

.service-url-img {
  height: 60px;
}

.row .max-width {
  min-height: 100px;
  padding: auto;
}

.reports {
  background: #ffffff;
  width: 100;
}

.datetimepicker {
  margin: 30px 0;
}